.list {
    list-style-type: none;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;

    img {
        border-radius: 10px;
    }

    li {
        width: 300px;
        height: 350px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        backdrop-filter: blur(10px );
        padding: 40px;
    }
}

.profile {
    text-align: center;
}